.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.nested{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.nested > * {
    flex: 1 1 initial;
}
.nested >div{
    border-radius: 10px;
}

.lorem{
    max-width: 240px;
}

.nested > div > img{
    max-height: 150px;
    max-width: 300px;
    border-radius: 10px;
}

.title{
    color:royalblue;
    font-size: 24px;
    font-weight: bold;
}
/*
.pic6
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.pic5
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.pic8
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pic9
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.arrow
{
    position: relative;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}*/



